@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #00bcd1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #0a0b0d;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #dfdfdf00;
}

::-webkit-scrollbar-thumb {
    background: #353355;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #353355;
}

.ant-form-item {
    margin-bottom: 15px !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none !important;
}

/* sidebar */
.ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: #00bcd1 !important;
}

/* input */
.ant-input {
    color: white !important;
    background-color: #0a0b0d !important;
}
.ant-input-outlined:focus-within,
.ant-input-outlined:hover {
    outline: 0;
    border-color: #0a0b0d;
    background-color: #0a0b0d;
}

.ant-input::placeholder {
    color: #6b7280 !important;
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: #00bcd1 !important;
    border: none !important;
}
.ant-otp-input {
    /* border-bottom: 2px solid rgba(255,255,255,0.2); */
    width: 70px;
    height: 50px;
    font-size: 25px;
    background: #0a0b0d;
}

.ant-input-filled:focus-within {
    outline: 0;
    border-color: #0a0b0d;
    background-color: #0a0b0d;
}

.ant-table {
    background-color: transparent !important;
    color: #f1f1f1 !important;
}

.ant-table-tbody > tr > td {
    border-bottom: none !important;
}

.ant-table-tbody > tr:hover > td {
    background-color: #0a0b0d !important;
}

:where(.css-dev-only-do-not-override-1g42iaw).ant-table-wrapper .ant-table-thead > tr > th,
:where(.css-dev-only-do-not-override-1g42iaw).ant-table-wrapper .ant-table-thead > tr > td {
    position: relative;
    color: #00bcd1;
    font-weight: 600;
    text-align: start;
    background: #00bcd126 !important;
    border-bottom: none !important;
    transition: background 0.2s ease;
}

.custom-black-modal .ant-modal-content {
    background: #1c1c1e !important;

    color: #ffffff !important;

    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25) !important;

    border: 1px solid #3b3b3b !important;
}

.ant-modal .ant-modal-close {
    color: #ffffff !important;
}

.custom-black-modal .ant-input {
    color: white !important;
    background: #0a0b0d !important ;
    height: 40px !important;
    border: none !important;
}

.custom-black-modal .ant-input::placeholder {
    color: #ababab !important;
}
.custom-black-modal .ant-form-item-label > label {
    color: #f1f1f1 !important;
}
/* custom select */
.custom-black-modal .ant-select-selector {
    border: none !important;
    background: #0a0b0d !important;
    color: #f1f1f1 !important;
    /* height: 40px !important; */
}

/* Placeholder text */
.custom-black-modal .ant-select-selection-placeholder {
    color: #9ca3af !important;
}

/* Selected value text */
.custom-black-modal .ant-select-selection-item {
    color: #ffffff !important;
}

/* Arrow icon */
.custom-black-modal .ant-select-arrow {
    color: #9ca3af !important;
}

/* Dropdown menu */
.ant-select-dropdown {
    background-color: #0a0b0d !important;
}

/* Dropdown options */
.ant-select-item {
    color: #ffffff !important;
}

/* Hover option */
.ant-select-item-option-active {
    background-color: #1f2933 !important;
}

/* Selected option */
.ant-select-item-option-selected {
    background-color: #111827 !important;
}
