@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #00bcd1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #0a0b0d;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #dfdfdf00;
}

::-webkit-scrollbar-thumb {
    background: #353355;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #353355;
}

.ant-form-item {
    margin-bottom: 15px !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none !important;
}

/* sidebar */
.ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: #00bcd1 !important;
}

.ant-input {
    color: white !important;
}

.ant-input::placeholder {
    color: #6b7280 !important;
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: #00bcd1 !important;
    border: none !important;
}
.ant-otp-input {
  /* border-bottom: 2px solid rgba(255,255,255,0.2); */
  width: 70px;
  height: 50px;
  font-size: 25px;
  background: #0A0B0D;
}

.ant-input-filled:focus-within {
    outline: 0;
    border-color: #0a0b0d;
    background-color: #0A0B0D;
}